/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #000028;
  --accent-color: #ff0070;
  --decor-color: #ff0070;
  --title-decor: #db00ff;
  --text-color: #f1b2ce;
  --title-text-color: #000028;
  --opacity-color: rgba(255, 0, 112, 0.4);
}
