/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --decor-color: #353430;
  --title-decor: #ffc2e6;
  --title-text-color: #353430;
  --text-color: #353430;
  --opacity-color: rgba(50, 49, 45, 0.4);
}

:root.theme-light .header__theme-menu-button_active {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: url("../images/cover-image-light.png");
}

:root.theme-light .header__rec {
  display: none;
}
:root.theme-light .header__rec::after {
  content: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url("../images/cover-image-light.png");
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --decor-color: #353430;
    --title-decor: #ffc2e6;
    --title-text-color: #353430;
    --text-color: #353430;
    --opacity-color: rgba(50, 49, 45, 0.4);
  }
  :root:not(.theme-dark) .header__rec {
    display: none;
  }

  :root:not(.theme-dark) .header__rec::after {
    content: none;
  }
}
