/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--bg-color);
  background-size: cover;
}

.header {
  min-block-size: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:
    minmax(20px, 25px) clamp(
      138px,
      calc(138px + 107px * ((100vw - 375px) / 393px)),
      245px
    )
    fit-content(192px) 100px 40px;
  padding: 10px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  position: absolute;
  inset-inline-end: 10px;
  inset-block-start: 10px;
  content: "";
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
  inline-size: 25px;
  block-size: 24px;
}

.decorated-zone::after {
  position: absolute;
  inset-inline-start: 10px;
  inset-block-end: 10px;
  content: "";
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
  inline-size: 25px;
  block-size: 24px;
}

.header__rec {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  font-family: var(--font-family, sans-serif);
  font-weight: var(--fntwght-norm, 400);
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 18px;
  line-height: 139%;
  inset-inline-end: 20px;
  inset-block-start: 10px;
}

.header__rec::after {
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  box-shadow: 0 0 4px 2px var(--accent-color);
  border-radius: 50%;
  background-color: var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: end;
  grid-column: 3/4;
  grid-row: 2/3;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: 1px solid transparent;
  font-family: var(--font-family, sans-serif);
  font-weight: var(--fntwght-norm);
  font-size: 18px;
  line-height: 100%;
  color: var(--decor-color);
  text-transform: lowercase;
  padding: 4px 13px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--opacity-color);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decor-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--decor-color);
  pointer-events: none;
}

.header__content {
  grid-column: 1/4;
  grid-row: 3/5;
  margin-block-start: 65px;
}

.title {
  font-family: var(--font-family, sans-serif);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--title-decor);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  display: block;
  grid-column: 2/4;
  font-family: var(--font-family, sans-serif);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--title-text-color);
  background-color: var(--accent-color);
  margin-block: 55px 15px;
}

.highlight {
  display: block;
  text-align: start;
}

.article {
  margin-block-start: 40px;
  margin-inline: 10px;
}
.article__section:not(:last-child) {
  margin-block-end: 28px;
}

.article__wrapper-intro,
.article__wrapper-reasons {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  gap: 20px;
}

.title-decor {
  font-family: var(--font-family, sans-serif);
  font-size: 18px;
  line-height: 130%;
}

.article__title {
  font-weight: var(--fntwght-bold);
  color: var(--decor-color);
}

.article__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block-end: 20px;
}

.article__item-title {
  font-weight: var(--fntwght-bold);
  color: var(--title-text-color);
  background-color: var(--accent-color);
}

.article__item-description {
  font-weight: var(--fntwght-norm);
  color: var(--text-color);
}

.article__link {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-shadow: 2px 1px 0 var(--accent-color);
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid transparent;
}

.article__link:hover {
  border-bottom-color: currentColor;
}

.article__link:focus {
  outline: none;
}

.article__link:focus-visible {
  outline: 1px solid var(--text-color);
}

.article__wrapper-tips {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  gap: 20px;
}

.article__wrapper-gallery {
  margin-block-end: 41px;
}

.article__subtitle {
  font-weight: var(--fntwght-bold);
  background-color: var(--accent-color);
  color: var(--title-text-color);
}

.article__content_tips .article__item-title {
  font-weight: var(--fntwght-norm);
}

.article__subtitle_gallery {
  margin-block-end: 11px;
}

.article__gallery-list {
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(5, minmax(min-content, max-content));
}

.article__gallery-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  min-block-size: 100vh;
  min-height: 668px;
  display: grid;
  place-items: center;
  padding: 10px
}

.footer__card {
  aspect-ratio: 9 / 16;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width >= 768px) {
  .header {
    padding: 20px 20px 0 0;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .header__rec {
    inset-inline-end: 29px;
    inset-block-start: 20px;
  }

  .header__theme-menu {
    margin-block-start: 146px;
  }
  .header__content {
    margin-block: 175px 128px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .header__title {
    grid-column: 1/3;
  }

  .header__description {
    margin-block-start: 159px;
    margin-inline-start: 10px;
    grid-column: 2/3;
    align-self: end;
  }

  .article {
    margin-inline: 20px;
    margin-block-start: 60px;
  }

  .article__wrapper-intro {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .article__title_intro {
    grid-column: 1;
    grid-row: auto;
  }

  .article__content_intro {
    grid-column: 2;
    grid-row: inherit;
  }

  .article__section_reasons,
  .article__section_tips {
    margin-block-start: 40px;
  }

  .article__wrapper-reasons {
    grid-template-columns: min-content 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }

  .article__title_reasons {
    grid-column: 1;
    grid-row: 1;
  }

  .article__content_reasons {
    grid-column: 1 / 3;
    grid-row: auto;
  }

  .article__wrapper-tips {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    margin-block-start: 58px;
    margin-block-end: 30px;
    gap: 20px;
  }

  .article__title_tips {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .article__subtitle_tips,
  .article__content_tips {
    grid-column: 2 / 3;
  }
  .article__subtitle_tips {
    grid-row: 1;
  }
  .article__content_tips {
    grid-row: 2;
  }

  .article__section_gallery,
  .footer {
    margin-block-start: 59px;
  }

  .article__subtitle_gallery {
    margin-block-end: 20px;
  }

  .article__gallery-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }
  .article__gallery-image {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    display: block;
  }

  .article__gallery-item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .article__gallery-item:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1 / 3;
  }
  .article__gallery-item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .article__gallery-item:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .article__gallery-item:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .footer {
    padding: 3px;
  }

  .footer__card {
    aspect-ratio: 6/17;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    margin-inline-start: 20px;
    justify-self: center;
    grid-column: 2/3;
    grid-row: 1;
  }
  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .header__content {
    margin-block: 29px 79px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .title {
    grid-column: 1/3;
    font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  }

  .header__description {
    margin-block-start: 114px;
    margin-inline-start: 10px;
    grid-column: 2/3;
    align-self: end;
  }
  .article__wrapper-intro {
    gap: 10px;
  }

  .article__section:not(:last-child) {
    margin-block-end: 49px;
  }

  .article__section_reasons,
  .article__section_tips {
    margin-block-start: 40px;
  }

  .article__wrapper-reasons {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  .article__title_reasons {
    grid-column: 1;
    grid-row: 1;
  }

  .article__content_reasons {
    grid-column: 1/4;
  }

  .article__content_reasons .article__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }
  .article__list .article__item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: auto;
  }

  .article__list .article__item:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: auto;
  }

  .article__list .article__item:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: auto;
  }

  .article__wrapper-tips {
    grid-template-columns: 1fr 2fr;
    row-gap: 20px;
    column-gap: 10px;
  }

  .footer {
    padding: 10px;
  }

  .footer__card {
    aspect-ratio: 5/8;
  }
}
