/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--bg-color);
  background-size: cover;
  min-height: 100vh;
}

.header {
height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
justify-items: end;
align-items: center;
  padding: 10px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  position: absolute;
  inset-inline-end: 10px;
  inset-block-start: 10px;
  content: "";
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  position: absolute;
  inset-inline-start: 10px;
  inset-block-end: 10px;
  content: "";
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
  inline-size: 25px;
  block-size: 25px;
}

.header__rec {
  position: absolute;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-family: var(--font-family, monospace);
  font-weight: var(--fntwght-norm, 400);
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 18px;
  line-height: 139%;
  inset-inline-end: 20px;
  inset-block-start: 10px;
}

.header__rec::after {
  content: "";
  display: block;
  inline-size: 9px;
  block-size: 9px;
  box-shadow: 0 0 4px 2px var(--accent-color);
  border-radius: 50%;
  background-color: var(--accent-color);
}

.header__theme-menu {
  grid-column: 1;
  grid-row: 1/2;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: 1px solid transparent;
  font-family: var(--font-family, monospace);
  font-weight: var(--fntwght-norm, 400);
  font-size: 18px;
  line-height: 100%;
  color: var(--decor-color);
  text-transform: lowercase;
  padding: 3px 12px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--opacity-color);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decor-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--decor-color);
  pointer-events: none;
}

.header__title {
  grid-column: 1;
  grid-row: 2/3;
  justify-self: start;
  align-self: center;
}

.title {
  font-family: var(--font-family, monospace);
  font-weight: var(--fntwght-bold, 700);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--title-decor);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  font-family: var(--font-family, monospace);
  font-size: 18px;
  line-height: 130%;
}

.header__description {
  grid-column: 1;
  grid-row: 3/4;
  justify-self: start;
  align-self: center;
  display: block;
  font-weight: var(--fntwght-bold, 700);
  color: var(--title-text-color);
  background-color: var(--accent-color);
}

.highlight {
  display: block;
  text-align: start;
}

.article {
  margin-block: 40px;
  margin-inline: 10px;
  display: grid;
  gap: 48px;
}

.article__wrapper-intro,
.article__wrapper-reasons {
  display: grid;
  gap: 20px;
}

.article__title {
  font-weight: var(--fntwght-bold, 700);
  color: var(--decor-color);
}

.article__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article__item-title {
  font-weight: var(--fntwght-bold, 700);
  color: var(--title-text-color);
  background-color: var(--accent-color);
}

.article__item-description {
  font-weight: var(--fntwght-norm, 400);
  color: var(--text-color);
}

.article__link {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-shadow: 2px 1px 0 var(--accent-color);
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid transparent;
}

.article__link:hover {
  border-bottom-color: currentColor;
}

.article__link:focus {
  outline: none;
}

.article__link:focus-visible {
  outline: 1px solid var(--text-color);
}

.article__wrapper-tips {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  gap: 20px;
}

.article__subtitle {
  font-weight: var(--fntwght-bold, 700);
  background-color: var(--accent-color);
  color: var(--title-text-color);
}

.article__content_tips .article__item-title {
  font-weight: var(--fntwght-norm, 400);
}

.article__wrapper-gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article__gallery-list {
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(5, minmax(min-content, max-content));
}

.article__gallery-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  height: 100vh;
  min-height: 668px;
  display: grid;
  place-items: center;
  padding: 10px;
}

@media (width >= 768px) {
  .header {
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    min-height: 1024px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .header__rec {
    inset-inline-end: 29px;
    inset-block-start: 20px;
  }

  .header__theme-menu {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
    align-self: center;
  }

  .header__title {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-inline-start: -20px;
  }

  .header__description {
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: center;
  }

  .article {
    margin-block: 60px;
    margin-inline: 20px;
    display: grid;
    gap: 78px;
  }

  .article__wrapper-intro,
  .article__wrapper-tips {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .article__title_intro {
    grid-column: 1;
    grid-row: auto;
  }

  .article__content_intro {
    grid-column: 2;
    grid-row: inherit;
  }

  .article__wrapper-reasons {
    grid-template-columns: min-content 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }

  .article__title_reasons {
    grid-column: 1;
    grid-row: 1;
  }

  .article__content_reasons {
    grid-column: 1 / 3;
    grid-row: auto;
  }

  .article__title_tips {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .article__subtitle_tips,
  .article__content_tips {
    grid-column: 2 / 3;
  }
  .article__subtitle_tips {
    grid-row: 1;
  }
  .article__content_tips {
    grid-row: 2;
  }

  .article__wrapper-gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .article__gallery-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .article__gallery-item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .article__gallery-item:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1 / 3;
  }
  .article__gallery-item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .article__gallery-item:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .article__gallery-item:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .footer {
    min-height: 1024px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    grid-column: 1/3;
    grid-row: 1;
  }
  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .header__title {
    grid-column: 1/3;
  }

  .title {
    font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  }

  .header__description {
    grid-row: 3/4;
    grid-column: 2/3;
    align-self: center;
  }

  .article__wrapper-intro {
    gap: 10px;
  }

  .article__wrapper-reasons {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  .article__title_reasons {
    grid-column: 1;
    grid-row: 1;
  }

  .article__content_reasons {
    grid-column: 1/4;
  }

  .article__content_reasons .article__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }
  .article__content_reasons .article__item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: auto;
  }

  .article__content_reasons .article__item:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: auto;
  }

  .article__content_reasons .article__item:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: auto;
  }

  .article__wrapper-tips {
    grid-template-columns: 1fr 2fr;
    row-gap: 20px;
    column-gap: 10px;
  }

  .footer {
    min-height: 768px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
